<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tie_competition_post_listing_data_source" xsi:type="string">Tie\Competition\Model\ResourceModel\CompetitionCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Tie\Competition\Model\ResourceModel\CompetitionCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">form_competition</argument>
            <argument name="resourceModel" xsi:type="string">Tie\Competition\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <preference for="Magento\Catalog\Model\Product" type="Tie\Competition\Model\Catalog\Product" />
</config>